html {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background-color: var(--title-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-style: normal;
  }