.social-item {
  margin-right: 10px; 
  &:last-child {
  margin-right: 0;
  }
 }
  
  .social-link {
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: var(--title-white-color);
    border-radius: 50%;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
      .social-icon {
    fill: var(--title-white-color);
    }
   }
  }
  .social-icon {
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
