.container-header {
    display: flex;
    @media screen and (min-width: 320px) and (max-width: 1199px) {
      margin-left: 0;
    }
    position: relative;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .header-list{
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & a:hover,
    & a:focus {
      color: var(--accent-color);
    }
    @media screen and (max-width: 767px) {
      display: none;
      
    }
  }
  .information-list {
    // display: flex;
    margin-left: auto;
    // align-items: center;
    @media screen and (min-width: 320px) {
      display: none;
      
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: auto;
    }
  }

    .information-item {

      text-align: center;
      justify-content: center;
    }
 
  
  .logo {
    color: var(--accent-color);
    font-family: raleway, sans-serif;
    font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
     font-size: 24px;
     line-height: calc(28 / 24);
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
  .header {
    border: 1px solid #ececec;
  }
  
  .header-nav_color_dark {
    color: var(--logo-dark-color);
  }
  
  .accent-white {
    color: var(--title-white-color);
  }
  .information-list__contact {
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
    }
   
  }
  
  .header__logo {
    margin-right: 93px;
   
   
  }
  .header-list__item{
    display: flex;
    align-items: center;
    position: relative;
    &:not(:last-child) {
    margin-right: 50px;
  }
  }

  .link {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-bottom: 0;
  }
 
  
  .current {
    color: var(--accent-color);
    &::after {
      content: "";
      height: 4px;
      display: block;
      background-color: var(--accent-color);
      margin-top: 28px;
      margin-bottom: 0;
      border-radius: 2px;
      position: absolute;
      left: 0;
      width: 100%;
      bottom: -28px;
    }
  }
  
  .contact {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
     line-height: calc(14 / 12);
  }
  }
  .information-list__mail {
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
      
  }
}
  .information-list__icon {
    width: 16px;
    height: 12px;
    fill: var(--primary-text-color);
    margin-right: 6px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     .contact:hover &,
     .contact:focus & {
    fill: var(--accent-color);
  }
  
  }
  
  
  
  .information-list__tel-icon {
    align-items: center;
    height: 16px;
    width: 10px;
    margin-right: 6px;
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .contact:hover &, 
    .contact:focus & {
      fill: var(--accent-color);
    }
  }
  .header-btn-open {
    position: absolute;
    right: 15px;
    top: 10px;
    border-color: transparent;
    background-color: transparent;
    &:hover, &focus {
      fill: var(--accent-color);
    }
    @media screen and (min-width: 768px) {
      display: none;
      
    }
  }
  .mob-menu {
    position: fixed ;
    width: 100vw;
    height: 609px;
    //  top: 93px;
     
     @media screen and (min-width: 480px)  {
      width: 450px;
    }
    @media screen and (min-width: 1200px)  {
      width: 528px;
      height: 581px;
    }

  }
  .mob-btn-close {
    background: var(--title-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: 50%;
 width: 30px;
 height: 30px;
 cursor: pointer;
 align-items: center;
 justify-content: center;
 position: absolute;
 right: 8px;
 top: 8px;
  }
  .mob-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    width: 100%;
    margin-bottom: 30px;
  }
  .mob-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 42px;
     outline: transparent;
     &:focus {
      border-color: var(--accent-color);
      + .mob-input-icon {
        fill: var(--accent-color);
        color: var(--accent-color);
      }
     
    }
  }

  .contract {
    color: var(--accent-color);
  }

  .mob-field {
    margin-bottom: 28px;
  } 
  .mob-fied-comment {
    margin-bottom: 20px;
  }
  .mob-fied-text {
    display: block;
  
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
  }
  .mob-text {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.mob-input-wrapper {
  position: relative;
  display: block;
}
.mob-input-icon {
  position: absolute;
  left: 14px;
  top: 13px;
}
.mob-check-text {
  font-size: 12px;
  line-height: 1.33;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.mob-check-item {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--title-text-color);
  .mob-checkbox:checked + .mob-check-text & {
  background-color: var(--accent-color);
  border-color: transparent;
}
}


.mob-btn{
 display: block;
background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin: 0 auto;
color: var(--title-white-color);
margin-top: 31px;
padding: 10px 25px;
}