.peculiarities-list {
    
    justify-content: center;
    @media screen and (min-width: 768px)  {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      }
     @media screen and (min-width: 1200px) {
      margin-left: 0;
      }
     }

  
  .pecul-item {
    @media screen and (min-width: 480px) {
      margin-right: 0;
      margin-bottom: 30px;
      width: 450px;
    }
      @media screen and (min-width: 768px)  {
       flex-basis: calc(100% / 2 - 30px) ;
       margin-left: 30px;
       }
  
      @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px) ;
        &:not(:last-child) {
            margin-right: 30px; 
            margin-left: 0;
          }
    }
  }

  


  .pecul-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .peculiarities-second-text {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    text-align: left;
  }

  .pecul-icon {
    align-items: center;
  }
  .icon {
    display: flex;
    // width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    // //  @media screen and (min-width: 480px) {
    // //     width: 450px;
    // //   }
    //     @media screen and (min-width: 1200px) {
    //       width: 270px;
    //     }

  }